{% extends "mngr/template.html" %}

{% block content %}
<h1 class="mb-4">Admin Dashboard</h1>
<div class="row">
    <div class="col-md-3">
        <a href="" class="text-decoration-none">
            <div class="card">
                <div class="card-body text-dark">
                    <h5 class="card-title">Total Admins <i class="fas fa-users" style="float:right"></i></h5>
                    
                    <p class="card-text"><b>{{ admins }}</b> <i class="fas fa-arrow-right" style="float:right"></i></p>   
                    
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="" class="text-decoration-none">
            <div class="card">
                <div class="card-body text-dark">
                    <h5 class="card-title">Total Books <i class="fas fa-book" style="float:right"></i></h5>
                    
                    <p class="card-text"><b>{{ books }}</b> <i class="fas fa-arrow-right" style="float:right"></i></p>
                </div>
            </div>
        </a>
    </div>
    
</div>
{% endblock content %}